<header id="header">
  <nav class="navbar is-fixed-top is-light"
    role="navigation" aria-label="main navigation"
  >
    <div class="navbar-brand has-text-centered">
      <a href="https://github.com/iodevs/validatex"
        class="is-size-1 has-text-weight-medium	is-family-monospace">
        Validatex
      </a>
    </div>
  </nav>
</header>
